@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

body {
    background-color: #007777;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.header {
    height: 50px;
    background-color: white;
    color: black;
    font-size: 30px;
    text-align: center;

}


.wrapper {
    width: 80%;
}

.add-task-btn {
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 180px;
    height: 40px;
    border-radius: 10px;
}

.add-task-btn img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto 10px;
}

.add-task-btn div {
    color: black;
    display: flex;
    align-items: center;

}

.search-task {
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

.search-task::placeholder {
    color: #d3d3d3;
    font-weight: lighter;
    padding-left: 10px;
    font-size: 14px;
}

.task-detail-table {
    background-color: #21222d;
    width: 100%;
    border-radius: 20px;
}

.task-detail-table tr {
    height: 45px;

}

.task-detail-table th,
td {
    text-align: center;

}

.task-detail-table tr:not(:last-child) {
    border-bottom: 1px solid white;
}

.completed-task {
    color: #90ee90;
}

.incompleted-task {
    color: #ff0000;
}

.waiting-task {
    color: #ffff00;
}

.nav-btn {
    width: 80px;
    height: 50px;
    background-color: #21222d;
    border-radius: 15px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    font-size: 30px;
    text-align: center;
}